@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(180deg, #131d33 0%, #0f1729 30%, #0f1729 100%);
  color: #f5f5f5;
  min-height: 100vh;
  overflow-x: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
